*.pyc
*.csv
testing_notebook.ipynb
.ipynb_checkpoints*
*.npy
weights/*
slurm_scripts/*
Untitled*.ipynb
arima.ipynb
ETTm2.ipynb
autoformer_192.ipynb
autoformer_192_ETTm2.ipynb
likelihood_vs_forecasting.ipynb
abalation/*

